{% extends 'layout/base.html'  %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>

</style>
{% endblock stylesheet %}
{% block content %}

<div class="page-header">
    <div class="width-smaller">
        <h1>We want to hear from you!</h1>
    </div>
</div>

<div class="address width-smaller">
    <h2>+254 (0)726 528 871</h2>
    <h2>yokconsulting.com</h2>
    <div>
        <p>51 Lenana Road, Suite A4</p>
        <p>Junction of Wood Avenue and Lenana Road,</p>
        <p>Nairobi, Kenya.</p>
    </div>
</div>

<div class="width-smaller">
    <div class="contact-form">
        <div>
            <h2>Have a question?</h2>
            <h2>Write to us!</h2>
        </div>

        <div class="form-and-map">
            <div class="form">
                <form action="" method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div>{{field.errors}}</div>
                        <div>{{field}}</div>
                    {% endfor %}
                    <div><button class="btn" type="submit">SEND MESSAGE</button></div>
                </form>
            </div>

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31910.467133441256!2d36.785206!3d-1.289186!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5d40e08ac186b424!2sLenana%20Suites!5e0!3m2!1sen!2sus!4v1674495697902!5m2!1sen!2sus" width="600"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
